@import '../../sass/mixins';
@import '../../sass/vars';
.main-area-container {
    @include main-area-container();
}

.area-header {
    color: $main-color;
}

.band-pic {
    display: flex;
    max-height: 400px;
    justify-content: center;
    margin: auto auto 130px auto;
}

.area-text {
    color: $main-color;
}


@media only screen and (max-width: 600px) {
    .band-pic {
        max-width: 250px;
        min-height: 150px;
        margin: auto auto 50px auto;
    }
  }