@import "../../sass/mixins";
@import "../../sass/vars";

.main-area-container {
  // @include main-area-container();
  display: flex;
}


.music-area-text {
  color: $main-color;
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
  overflow: scroll;
  margin: auto;
  a:hover {
    text-decoration: none;
  }
}

.album-container {
  margin: 20px;
}

.album-image {
  height: 200px;
}


@media only screen and (max-width: 600px) {
    .music-area-text {
      height: 120vh;
      display: flex; 
      justify-content: center;
    }
  }