@import '../../sass/mixins';
@import '../../sass/vars';

.main-area-container {
    // @include main-area-container();
    display: flex;
}

.merch-area-text {
    color: $main-color;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.merch-container {
    margin: 20px;
    text-align: center;
}

.merch-image {
    height: 200px;
}

