@import '../../sass/mixins';
@import '../../sass/vars';

.main-area-container {
    @include main-area-container();
    display: flex;
}

.merch-area-text {
    justify-content: center;
    color: $main-color;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height: 65vh;
    overflow: scroll;
    a:hover {
        text-decoration: none;
      }
}

.merch-container {
    margin: 20px;
    text-align: center;
}

.merch-image {
    height: 200px;
}


@media only screen and (max-width: 1000px) {
    .merch-area-text {
        height: 120%;
        justify-content: center;
    }
    .merch-container {
        text-align: center;
        margin: auto;
    }
  }

