@import '../../sass/mixins';
@import '../../sass/vars';

.main-area-container {
    @include main-area-container();
    z-index: 0;
}

.merch-area-text {
    color: $main-color;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.merch-container {
    // display: inline;
    margin: 20px;
}

.merch-image {
    height: 200px;
    border-radius: 80px;
}

