@import "../../sass/vars";

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url(../../fonts/HelveticaNeue.ttf) format("truetype");
}

.name {
  color: $main-color;
  font-family: "HelveticaNeue";
  font-weight: bold;
  font-style: italic;
  font-size: 72px;
  letter-spacing: -0.06em;
  transform: scale(1, 0.69);
  -webkit-transform: scale(1, 0.69); /* Safari and Chrome */
  -moz-transform: scale(1, 0.69); /* Firefox */
  -ms-transform: scale(1, 0.69); /* IE 9 */
  -o-transform: scale(1, 0.69); /* Opera */
}

.hellocentral {
  font-size: 114px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
  text-align: left;
  letter-spacing: -0.09em;
  -moz-transform: scale(1, 0.69);
  -webkit-transform: scale(1, 0.69);
  -ms-transform: scale(1, 0.69);
}

.yellow {
  color: rgb(255, 204, 0);
}

.pink {
  color: rgb(255, 0, 195);
}

.white {
  color: white;
}

.teal {
  color: rgb(83, 189, 255);
}

.green {
  color: rgb(99, 227, 73);
}

.name-hover:hover {
  color: rgb(244, 190, 103);
  cursor: default;
}

@media only screen and (max-width: 1200px) {
  .hellocentral {
    font-size: 6em;
    // text-align: center;
    margin: auto;
    padding-left: 60px;
  }
}

@media only screen and (max-width: 1000px) {
  .hellocentral {
    font-size: 5em;
    text-align: center;
    margin: auto;
    padding-left: 0px;
  }
}
