@import "../../sass/vars";

@font-face {
  font-family: "Linebeam";
  src: local("Linebeam"), url(../../fonts/Linebeam.ttf) format("truetype");
}

.name {
  color: $main-color;
  font-family: "Linebeam";
  font-size: 5em;
  margin: 3vh 0 0 0;
}

.name-hover:hover {
  color: rgb(244, 190, 103);
  cursor: default;
}

@media only screen and (max-width: 600px) {
  .name {
    font-size: 2em;
    text-align: center;
    margin: auto;
  }
}