@font-face {
    font-family: 'Linebeam';
    src: local('Linebeam'), url(../../fonts/Linebeam.ttf) format('truetype');
  }

.logo {
  margin: auto;
}


.name {
      font-family: 'Linebeam';
      font-size: 3em;
  }
