@import '../../sass/mixins';
@import '../../sass/vars';
.main-area-container {
    @include main-area-container();
}

.about-area-text {
    color: $main-color;
    font-family: 'HelveticaNeue-Bold';
    margin: auto;
}


.image-area {
    display: flex;
}


.epk {
    border: 2px solid white;
    color: white;
    height: 45px;
    width: 170px;
    margin: auto;
}

.epk:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    height: 45px;
    width: 170px;
}

.about-img {
    width: 40%;
}