@import "../../sass/mixins";
@import "../../sass/vars";

.about-area-text {
  color: $main-color;
  font-family: "HelveticaNeue";
  margin: auto;
  overflow: scroll;
  height: 55vh;
  width: 40%;
}

.about-area {
  display: flex;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 40px 0 0;
}

.epk {
  border: 2px solid white;
  color: white;
  height: 45px;
  width: 170px;
  margin: auto;
}

.epk:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  height: 45px;
  width: 170px;
}

.about-img {
  height: 350px;
}

// @media only screen and (max-width: 600px) {
//   .about-area {
//     flex-direction: column;
//     justify-content: center;
//     margin: auto;
//   }
//   .about-img {
//     margin: auto;
//     height: 75%;
//     width: 75%;
//   }
//   .about-area-text {
//     text-align: center;
//     height: 20vh;
//   }
//   .img-container {
//     display: flex;
//     flex-direction: column;
//     // margin:   auto;
//   }
// }

@media only screen and (max-width: 575px) {
  .about-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .about-img {
    margin: auto;
    height: 55%;
    width: 55%;
  }
  .about-area-text {
    text-align: center;
    height: 40vh;
    width: 90vw;
  }
  .img-container {
    display: flex;
    margin: auto;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 575px) {
  .about-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .about-img {
    margin: auto;
    height: 55%;
    width: 55%;
  }
  .about-area-text {
    text-align: center;
    height: 25vh;
    width: 100%;
  }
  .img-container {
    display: flex;
    margin: auto;
  }
}
