@import '../../sass/mixins';
@import '../../sass/vars';


.area-header {
    color: $main-color;
    // display: inline-flex;
    text-align: right;
    cursor: default;
    position: relative;

}

.area-header {
    color: $main-color;
    // text-align: right;
    cursor: progress;

}

.left {
    // left: 0;
    position: absolute;
}