@import '../../sass/mixins';
@import '../../sass/vars';


.home-area-header {
    color: $main-color;
    text-align: right;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    margin: 10px 0;
    cursor: progress;
}

.area-header {
    text-align: right;
}

.left {
    position: absolute;
}


@media only screen and (max-width: 1000px) {
    .home-area-header {
    margin: 20px auto;
    text-align: center;
    }
  }