@import "../../sass/mixins";

.footer-container {
  height: 85px; // Replace with the height your footer should be
  width: 100%; // Don't change
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  z-index: 1;
  -webkit-box-shadow: 1px -5px 38px 26px rgba(0,0,0,1);
  -moz-box-shadow: 1px -5px 38px 26px rgba(0,0,0,1);
  box-shadow: 1px -5px 38px 26px rgba(0,0,0,1);
}

.footer-contents {
  display: flex;
  justify-content: space-around;
  height: 39px; // Replace with the height your footer should be
  //   width: 1000px; // Visible width of footer
  margin: auto;
  text-align: center;
}
.icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.icon:hover {
  transform: scale(1.2);
}

.footer-text {
  color: white;
  margin-top: 15px;
  text-align: center;
}
