@import '../../sass/vars';

.nav-links {
margin: 8vh 0 0 0;
}

li {
    color: $main-color;
    display: inline;
    margin: 20px;
    font-family: 'HelveticaNeue';
    font-size: 1.8em;
    font-family: "Helvetica Neue";
//   font-weight: bold;
//   font-style: italic;
//   line-height: 1.2;
//   text-align: left;
//   letter-spacing: -0.09em;
//   -moz-transform: scale(1, 0.69);
//   -webkit-transform: scale(1, 0.69);
//   -ms-transform: scale(1, 0.69);
}

.headlink {
    text-decoration: none;
    color: $main-color;
}

.headlink:hover {
    text-decoration: none;
    color: rgb(244, 190, 103);
}

.active-nav {
    // color: rgb(244, 190, 103);
    border-bottom: 3px solid $main-color;
}

.yellow {
    color: rgb(255, 204, 0);
  }
  
  .pink {
    color: rgb(255, 0, 195);
  }
  
  .white {
    color: white;
  }
  
  .teal {
    color: rgb(83, 189, 255);
  }
  
  .green {
    color: rgb(99, 227, 73);
  }

@media only screen and (max-width: 1200px) {
    .nav-links {
    margin: auto;
    text-align: center;
    }
    li {
    font-size: 1.2em;
    display: inline-flex;
    margin: 1px 39px 0 0;
    }
  }