@import '../../sass/vars';

.nav-links {
margin: 8vh 0 0 0;
}

li {
    color: $main-color;
    display: inline;
    margin: 20px;
    font-family: 'HelveticaNeue-Bold';
    font-size: 1.4em;
}

.headlink {
    text-decoration: none;
    color: $main-color;
}

.headlink:hover {
    text-decoration: none;
    color: rgb(244, 190, 103);
}

.active {
    color: rgb(244, 190, 103);
    border-bottom: 3px solid $main-color;
}