@import '../../sass/vars';

.nav-links {
margin: auto 0;
}

li {
    color: $main-color;
    display: inline;
    margin: 20px;
    font-family: 'HelveticaNeue-Bold';
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: $main-color;
}

.active {
    color: rgb(244, 190, 103);
    border-bottom: 3px solid $main-color;
}